@charset "UTF-8";

/*Обнуление*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: "Open Sans", sans-serif;
}

.fullscreen {
  display: flex;
  min-height: 100vh;
}

.fullscreen__image {
  flex: 1 1 auto;
  max-width: 100%;
}

.title {
  color: #3e8ddd;
  font-size: 3.854vw;
  font-weight: 700;
  line-height: 4.2vw;
}

.text {
  color: #ffffff;
  font-size: 1.25vw;
  line-height: 1.77vw;
}

.logo-lenovo {
  position: absolute;
  right: 0;
  width: 5.2083333333%;
}

.legion {
  margin-top: -6.25%;
  position: relative;
}

.legion__logo-lenovo {
  bottom: 5.7291666667%;
  z-index: 1;
}

.legion__content {
  display: flex;
  align-items: flex-end;
  -moz-column-gap: 3.333vw;
       column-gap: 3.333vw;
  max-width: 34.375%;
  position: absolute;
  left: 6.7708333333%;
  bottom: 5.7291666667%;
}

.legion__logo-legion {
  width: 27.4603174603%;
}

.legion__text {
  text-transform: uppercase;
  font-size: 7.03125vw;
  font-weight: 700;
  color: #fff;
  line-height: 0.8;
  white-space: nowrap;
}

.pro {
  position: relative;
}

.pro__left {
  width: 46.875%;
  display: flex;
  flex-direction: column;
  row-gap: 9.375vw;
  position: absolute;
  z-index: 1;
  top: 8.3333333333%;
  left: 6.7708333333%;
}

.pro__image {
  width: 97.2222222222%;
}

.pro__right {
  width: 40.1041666667%;
  display: flex;
  position: absolute;
  z-index: 1;
  top: 8.3333333333%;
  right: 4.1666666667%;
  flex-wrap: wrap;
  row-gap: 2.34vmax;
}

.pro__item {
  flex: 0 0 50%;
}

.item-pro__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2.34vw;
}

.item-pro__icon {
  width: 32.75%;
}

.item-pro__list {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  font-size: 1.25vw;
  white-space: nowrap;
}

.amd {
  position: relative;
}

.amd__logo {
  position: absolute;
  bottom: 8.8541666667%;
  left: 6.7708333333%;
  z-index: 1;
  width: 8.1770833333%;
}

.amd__content {
  display: flex;
  flex-direction: column;
  row-gap: 2.6vw;
  max-width: 34.375%;
  position: absolute;
  right: 5.2083333333%;
  top: 50%;
  transform: translate(0, -50%);
}

.gamer {
  position: relative;
}

.gamer__content {
  display: flex;
  flex-direction: column;
  row-gap: 2.6vw;
  max-width: 32.0833333333%;
  position: absolute;
  left: 5.2083333333%;
  top: 5.9895833333%;
}

.vision {
  position: relative;
}

.vision__logo {
  position: absolute;
  bottom: 8.8541666667%;
  right: 5.2083333333%;
  z-index: 1;
  width: 14.8958333333%;
}

.vision__content {
  display: flex;
  flex-direction: column;
  row-gap: 2.6vw;
  max-width: 28.3333333333%;
  position: absolute;
  right: 5.2083333333%;
  top: 10.4166666667%;
}

.fps {
  position: relative;
}

.fps__content {
  display: flex;
  flex-direction: column;
  row-gap: 2.6vw;
  max-width: 32.0833333333%;
  position: absolute;
  left: 5.2083333333%;
  top: 5.2083333333%;
}

.development {
  position: relative;
}

.development__image {
  position: absolute;
  top: 8.8541666667%;
  left: 13.0208333333%;
  width: 33.8541666667%;
}

.development__content {
  display: flex;
  flex-direction: column;
  row-gap: 2.6vw;
  max-width: 33.8541666667%;
  position: absolute;
  right: 5.2083333333%;
  top: 10.4166666667%;
}

.miss {
  position: relative;
}

.miss__content {
  display: flex;
  flex-direction: column;
  row-gap: 2.6vw;
  max-width: 32.34375%;
  position: absolute;
  left: 5.2083333333%;
  bottom: 5.9895833333%;
}

.step {
  position: relative;
}

.step__content {
  display: flex;
  row-gap: 2.6vw;
  position: absolute;
  left: 5.2083333333%;
  bottom: 5.2083333333%;
  -moz-column-gap: 5.2083333333%;
       column-gap: 5.2083333333%;
}

.step__content h3 {
  max-width: 56.4676616915%;
}

.step__content p {
  position: relative;
  top: 20px;
  flex: 1 1 auto;
}

.battery {
  position: relative;
}

.battery__content {
  display: flex;
  flex-direction: column;
  row-gap: 2.6vw;
  max-width: 32.96875%;
  position: absolute;
  right: 5.2083333333%;
  top: 10.4166666667%;
}

footer {
  position: relative;
}

footer .logo-lenovo {
  top: 14.84375%;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 3.125%;
  padding-right: 5.2083333333%;
  padding-left: 5.2083333333%;
}

.column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
  grid-template-columns: repeat(4, auto);
  gap: 20px;
}

.column__item_1 {
  order: 1;
}

.column__item_2 {
  order: 2;
}

.column__item_3 {
  order: 3;
}

.column__item_4 {
  order: 4;
}

.column__item_5 {
  order: 13;
}

.column__item_6 {
  order: 14;
}

.column__item_7 {
  order: 15;
}

.column__item_8 {
  order: 5;
}

.column__item_9 {
  order: 6;
}

.column__item_10 {
  order: 16;
}

.column__item_11 {
  order: 7;
}

.column__item_12 {
  order: 8;
}

.column__item_13 {
  order: 9;
}

.column__item_14 {
  order: 10;
}

.column__item_15 {
  order: 11;
}

.column__item_16 {
  order: 12;
}

.smaller {
  font-size: 0.8vmax;
  line-height: 0.8vmax;
}

.column__title {
  font-size: 1.2vmax;
  color: #3e8ddd;
  text-transform: uppercase;
  line-height: 1.3vmax;
  margin: 0px 0px 2.08vw 0px;
  font-weight: 700;
}

.column__text {
  font-size: 1.2vmax;
  color: #fff;
  line-height: 1.3vmax;
}

@media (min-width: 1023px) {
  footer {
    overflow: hidden;
  }

  .column {
    position: relative;
    min-height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: auto;
    row-gap: 15px;
    -moz-column-gap: 60px;
         column-gap: 60px;
  }

  .column__item {
    position: relative;
  }

  .column__item::before {
    content: "";
    height: 100vh;
    width: 1px;
    position: absolute;
    left: -35px;
    top: 0;
    background-color: #3e8ddd;
  }

  .column__item_1 {
    order: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
  }

  .column__item_1::before {
    width: 0;
  }

  .column__item_2 {
    order: 6;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }

  .column__item_2::before {
    width: 0;
  }

  .column__item_3 {
    order: 8;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }

  .column__item_3::before {
    width: 0;
  }

  .column__item_4 {
    order: 13;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
  }

  .column__item_4::before {
    width: 0;
  }

  .column__item_5 {
    order: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
  }

  .column__item_6 {
    order: 9;
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    grid-row: 6/8;
  }

  .column__item_7 {
    order: 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1/6;
  }

  .column__item_8 {
    order: 10;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }

  .column__item_9 {
    order: 14;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
  }

  .column__item_10 {
    order: 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
  }

  .column__item_11 {
    order: 11;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }

  .column__item_12 {
    order: 15;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
  }

  .column__item_13 {
    order: 5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
  }

  .column__item_14 {
    order: 7;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }

  .column__item_15 {
    order: 12;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }

  .column__item_16 {
    order: 16;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
  }
}

@media (max-width: 1023px) {
  footer {
    background: url("../img/bg_01.jpg") 0 0/contain;
  }

  footer img.fullscreen__image {
    display: none;
  }

  .wrapper {
    position: relative;
    padding-bottom: 3.125%;
  }
}

@media (max-width: 967px) {
  .fullscreen {
    min-height: 60vw;
    flex-direction: column;
  }

  .text {
    font-size: 0.85rem;
    line-height: 1rem;
  }

  .pro__left {
    width: 100%;
    top: 40px;
    left: 0;
    justify-content: center;
    align-items: center;
  }

  .pro__left .pro__title {
    position: absolute;
    top: 125%;
  }

  .pro__image {
    transform: translate(0px, -10px);
  }

  .pro__right {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    padding: 55px 10px 15px;
  }

  .item-pro__list {
    color: #000;
    row-gap: 5px;
    font-size: 1.35vmax;
  }

  .item-pro_1 {
    order: 1;
  }

  .item-pro_2 {
    order: 3;
  }

  .item-pro_3 {
    order: 4;
  }

  .item-pro_4 {
    order: 2;
  }

  .amd__logo {
    top: 0;
    transform: translate(0px, 600%);
  }

  .amd__content {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0px, 0px);
    max-width: 100%;
    padding: 15px 10px;
    align-items: center;
    text-align: center;
  }

  .amd__content p {
    color: #000;
  }

  .gamer__content {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    text-align: center;
  }

  .gamer__content p {
    color: #000;
  }

  .vision__logo {
    top: 0;
    transform: translate(0px, 800%);
  }

  .vision__content {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    padding: 15px 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .vision__content p {
    color: #000;
  }

  .fps__content {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    padding: 15px 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .fps__content p {
    color: #000;
  }

  .development__image {
    top: 0;
    left: 50%;
    transform: translate(-50%, 12%);
    width: 40%;
  }

  .development__content {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    padding: 15px 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .development__content p {
    color: #000;
  }

  .miss__content {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    padding: 15px 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .miss__content p {
    color: #000;
  }

  .step__content {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    padding: 15px 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -moz-column-gap: 0;
         column-gap: 0;
  }

  .step__content p {
    color: #000;
    top: 0;
  }

  .battery__content {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    padding: 15px 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .battery__content p {
    color: #000;
  }
}

@media (max-width: 967px) and (max-width: 800px) {
  .pro__left .pro__title {
    top: 115%;
  }
}